# TUPLES, LISTS, ALIASING, MUTABILITY, CLONING

Ultima aula falamos sobre decomposição e abstração, aprendendo sobre como funcionam as funções, como reusar código de uma forma melhor.

In [34]:
# compound data types
int, float, bool, str
# hoje vamos falar sobre
tuple, list

# são umas coleções de dados
tupla = (1,2,3,4)
lista = [1,2,3,4]

Parecido com strings, são uma sequencia de elementos, mas não são somente caracteres, podem ser booleanos, inteiros, floats até mesmo tuplas ou listas dentro

### Tupla

In [19]:
isso_eh_tupla = 1,
print(type(isso_eh_tupla))

<class 'tuple'>

Nós diferenciamos tuplas de listas com o "separador" entre eles, a tupla é o ( parenteses ), já a lista é \[ colchetes \].

But é legal ver que se declararmos uma "tupla" com somente um elemento, ele não acaba sendo uma tupla e sim somente aquele elemento.

In [20]:
print(type( () ))
print(type( (1) ))
print(type( (1,) ))

<class 'tuple'>
<class 'int'>
<class 'tuple'>

Fica visivel isso quando fazemos um slice em uma tupla, se a volta é de apenas 1 elemento, ele deixa uma virgula ao final

In [21]:
tupla[1:2]

(2,)

Tuplas são imutaveis, ou seja não conseguimos mudar algum valor dentro dela, lembrando as strings, não conseguimos mudar um elemento de certa posição.

In [22]:
tupla = (1,2,3,4)
print(tupla[0])

tupla[0] = 0

1

TypeError: 'tuple' object does not support item assignment

Erro ao tentar mudar um valor de uma tupla, lembrando que são objetos imutaveis

Geralmente são usadas para trocar(swap) valores de variaveis

In [26]:
x = "y"
y = "x"
print(x,y)
# queremos passar o valor de x para y e y para x
# podemos usar uma terceira variavel
terceira = x
x = y
y = terceira
print(x, y)

# trocando novamente
(x,y) = (y,x)
print(x,y)

y x
x y
y x

Usamos tuplas para retornar mais de um objeto em funções, só conseguimos retornar um objeto em uma função, portanto usamos a tupla para resolver esse problema

In [29]:
def quotient_and_remainder(x,y):
    q = x // y
    r = x % y
    return (q,r)

quotient_and_remainder(1,2)

(0, 1)

Podemos iterar sobre tuplas, termos tuplas dentro de tuplas, como falamos no começo, é uma coleção de dados

In [30]:
# aTuple -> ( (i,s), (i,s), (i,s) )
#           int, str
def get_data(aTuple):
    # criamos duas tuplas vazias
    nums = ()
    words = ()
    # agora iteramos sobre todos elementos da tupla
    for t in aTuple:
        nums = nums + (t[0],)
        if t[1] not in words:
            words = words + (t[1],)
    min_n = min(nums)
    max_n = max(nums)
    unique_words = len(words)
    return min_n, max_n, unique_words

Agora vamos testar a função

In [33]:
tupla_teste = ((2011, "eli"),
               (2012, "eli"),
               (2013, "eli"),
               (2014, "odell"),
               (2015, "obj"))

get_data(tupla_teste)

(2011, 2015, 3)

### Listas

Seguimos algumas regras da tupla, podemos deixar dados de diferentes tipos dentro de uma lista, maaas aqui nós podemos alterar, listas são mutaveis!

In [36]:
lista = [1,2,3,4]
print(lista)

lista[0] = 0
print(lista)

[1, 2, 3, 4]
[0, 2, 3, 4]

Não temos o caso de precisar de uma virgula, se o elemento está entre colchetes é uma lista.

In [37]:
type( [1] )

list

Podemos deixar diversos tipos de dados, como falamos no começo

In [41]:
lista = [1, "b", True, [1,2,3]]
lista

[1, 'b', True, [1, 2, 3]]

Quando mudamos uma lista, continuamos com o mesmo objeto, apenas mudamos o valor daquele indice.
A função id() checa a identificação daquele objeto, podemos observar que mesmo após alterar a lista, continua com a mesma identificação do objeto.

In [43]:
lista = [1,2,3]
print(lista)
print(id(lista))

lista[1] = 123
print(lista)
print(id(lista))

[1, 2, 3]
2263612788800
[1, 123, 3]
2263612788800

Como em uma string, nós podemos interar sobre os valores da lista

In [44]:
lista = [1,2,3]
for i in lista:
    print(i)

1
2
3

Possuindo diversas operações que podemos fazer sobre uma lista, por ser mutavel. Conseguindo adicionar novos elementos usando a funçao "append(novo_elemento)"

In [47]:
lista = [1,2]
lista.append(3)
lista

[1, 2, 3]

Mas pq você usou o ".", bem como falamos, tudo em python são objetos, um objeto possui atributos e métodos, utilizando o "." conseguimos acessar esses métodos e atributos, no caso do append é uma função (até por ter os parenteses indicando uma chamada, um método/função)

Podemos adicionar elementos usando a operação "+" tbm, porém com ela nós criamos uma nova lista e não adicionamos um elemento na lista atual.
Veja a diferença nos resultados da função id(), passamos o objeto que desejamos ver sua identificação, note que eles são diferentes, já quando usamos o método append() a identificação continua a mesma.

In [46]:
lista = [1,2,3]
print(lista)
print(id(lista))

lista = lista + [4,5,6]
print(lista)
print(id(lista))

[1, 2, 3]
2263613629760
[1, 2, 3, 4, 5, 6]
2263614427392

In [49]:
lista = [1,2]
print(id(lista))

lista.append(3)
print(lista)
print(id(lista))

2263614491648
[1, 2, 3]
2263614491648

Não conseguimos adicionar os elementos de uma lista com o append(), como argumento do append é passado somente UM objeto, então naquela lista é adicionado aquele objeto.

In [52]:
lista = [1,2,3]
lista.append([4,5,6])
lista

[1, 2, 3, [4, 5, 6]]

Para adicionar os elementos de uma lista, usamos o método "extend()", ai sim conseguimos adicionar cada elemento da lista em nossa nova lista

In [54]:
lista = [1,2,3]
lista.extend([4,5,6])
lista

[1, 2, 3, 4, 5, 6]

Mas não podemos somente adicionar elementos na lista né, conseguimos tbm remover elementos das listas.

Para remover algum elemento de certo indice, podemos usar o del(lista\[indice\])

In [56]:
lista = [0,1,2,3]
del(lista[0])
lista

[1, 2, 3]

Ou o .pop() para remover o ultimo elemento da lista

In [60]:
lista = [1,2,3]
lista.pop() # ele retorna o elemento que tirou tbm, pode passar para uma variavel
lista

[1, 2]

Ou remover um elemento especifico utilizando o .remove(elemento)

In [59]:
lista = [1,2,3]
lista.remove(2)
lista

[1, 3]

Acabamos de ver funções que chamamos a partir de uma lista, vamos comentar novamente, tudo em python são objetos, então a lista possui métodos/funções, que acessamos com o "."

Podemos converter strings para listas e fazer o caminho reverso, utilizando tbm mais de um método para conseguir tal. Começando com o padrão, passando a função list(objeto_desejado), devolvendo uma lista com aquele objeto, se for uma string, ele passa toda a string como elemento individual na lista.

In [61]:
s = "oi oiasdf oi"
list(s)

['o', 'i', ' ', 'o', 'i', 'a', 's', 'd', 'f', ' ', 'o', 'i']

Usando tbm o .split(), esse método é acessado por uma string, "quebrando" ela pelo argumento que escolhermos e transformando em uma lista, como por exemplo

In [63]:
string = 'isso e uma string'
print(string)
lista = string.split(" ")
print(lista)

isso e uma string
['isso', 'e', 'uma', 'string']

Podemos transformar tbm uma lista em uma string, um dos métodos para fazer isso é o join(), ele tbm é acessado por uma string, ele é um pouco mais "complicado", pois a string que for acessada vai funcionar como separador, veja só

In [66]:
"".join(["a","b","c"])

'abc'

In [67]:
", ".join(["a","b","c"])

'a, b, c'

In [68]:
" - - ".join(["a","b","c"])

'a - - b - - c'

A string serve como argumento para adicionar entre cada elemento da string, não conseguimos usar o join() com uma lista de inteiros ou outro tipo que não seja string, da mesma forma que não conseguimos fazer uma operação entre string e objeto numerico.

In [69]:
"".join([1,"b","c"])

TypeError: sequence item 0: expected str instance, int found

In [70]:
"" + 1

TypeError: can only concatenate str (not "int") to str

Recebemos um erro ao tentar uma operação entre string e númericos, como vimos nas primeiras aulas. Segue a regra

Conseguimos ordenar as listas tbm, para isso temos duas funções a sort() e a sorted()

O sort() é acessado pela propria lista, ou seja, ele altera o valor daquela lista para uma lista ordenada.

In [75]:
lista_desordenada = [4,3,2,1]
lista_desordenada.sort()
lista_desordenada

[1, 2, 3, 4]

Já o sorted() é uma função do python, você passa como argumento uma lista e ele devolve aquela lista ordenada, ele não altera a lista que passamos e sim gera uma nova

In [74]:
lista_desordenada = [4,3,2,1]
sorted(lista_desordenada)

[1, 2, 3, 4]

Como tbm conseguimos reverter a lista, usando a função reverse(), ela é de acesso, então ela modifica a propria lista

In [77]:
lista = [1,2,3,4]
lista.reverse()
lista

[4, 3, 2, 1]

Quando estamos lidando com listas, precisamos ter noção de quais efeitos esperamos que ocorra, se estamos modificando uma lista, oq esperamos que aconteça com ela, com as variaveis dentro dela, quais as consequencias de uma mudança.

Vamos fazer uma analogia com pessoas

Como em python tudo são objetos, pessoas tbm são objetos.
- Pessoa possui diversos atributos
- Pessoa possui diversos apelidos
- Todos os apelidos apontam para a mesma pessoa

In [79]:
# vamos declarar você aqui e trabalhar cntg <3
voce = ["pessoa maravilhosa", "pessoa incrivel"]
print(voce)

['pessoa maravilhosa', 'pessoa incrivel']

Então você possui dois atributos, agora digamos que queremos aumentar o número de atributos para você, apontando para o mesmo objeto.

In [81]:
voce.append("pessoa diferenciada")

Podemos ter mais de uma forma de chamar você, porem não altera que ainda estamos falando sobre você, é o mesmo objeto. Só muda a forma de charmarmos, um apelido digamos

In [84]:
apelido_seu = voce
print(apelido_seu)

tu = apelido_seu
print(tu)

['pessoa maravilhosa', 'pessoa incrivel', 'pessoa diferenciada']
['pessoa maravilhosa', 'pessoa incrivel', 'pessoa diferenciada']

Interessante nao? Agora vamos entrar um pouco mais nesse assunto

### Apelidos (aliases)

Estamos criando uma nova variavel e passando como referencia uma variavel, importante ficar claro que mesmo com a nova variavel sendo criada, ela está referenciado uma, então qualquer modificação na variavel principal (que está sendo referenciada) é tbm alterada na variavel "apelido"

In [85]:
a = 1
b = a
print(a)
print(b)

warm = ["red","yellow","orange"]
hot = warm
hot.append("pink")
print(hot)
print(warm)

1
1
['red', 'yellow', 'orange', 'pink']
['red', 'yellow', 'orange', 'pink']

Esperamos que com o exemplo acabou ficando um pouco mais tranquilo de visualizar isso, não importa se passamos para uma nova variavel uma lista, ambas as variaveis estão apontando para o MESMO OBJETO, então se formos modificar a variavel "hot" ou "warm", todas as modificações vão para a mesma lista, ou melhor falando, o mesmo objeto.

In [88]:
lista = [1,2,3]
referencia_lista = lista
referencia_lista.append(4)
print(id(referencia_lista))
print(id(lista))
lista

2263646308224
2263646308224

[1, 2, 3, 4]

Para não passar por esse problema, nós podemos clonar os objetos, assim conseguimos aquele valor, alterar ele e não alteramos o valor "principal", uma forma de fazer isso com listas é passando um slice por toda a lista.

In [93]:
lista = [1,2,3]
lista_copia = lista[:]
lista_copia.append(4)
print(lista)
print(lista_copia)

[1, 2, 3]
[1, 2, 3, 4]

Veja que conseguimos alterar o valor da lista que foi copiada, sem alterar a lista principal, mantendo ela a salva das alterações.

Lembra das funções de sort() e sorted(), vamos fazer oq ocorrem com elas.
Primeiro a sort()

In [95]:
lista = ["c","a","b"]
lista_sort = lista.sort()
print(lista)
print(lista_sort)

['a', 'b', 'c']
None

Como falamos na primeira vez, o método sort() age na propria lista, ela não retorna algo, ela apenas modifica a lista original, retornando nada.

Agora o sorted()

In [96]:
lista = ["c","b","a"]
lista_sorted = sorted(lista)
print(lista)
print(lista_sorted)

['c', 'b', 'a']
['a', 'b', 'c']

Agora simm, seguindo a regra, a sorted é uma função built-in do python, ela possui sim um retorno que no caso é o objeto ordenado, mantendo o valor "original" como estava, apenas retornando o novo objeto

Bem, nós tbm podemos criar listas "aninhadas" (nested), que seria listas dentro de listas, igual fizemos naquela função com as tuplas, bora ver

In [106]:
lista = [1,[2],3]
lista_nova = [lista] * 3
lista_nova

[[1, [2], 3], [1, [2], 3], [1, [2], 3]]

Veja no exemplo abaixo, como podemos estar adicionado uma lista dentro de outra lista e tbm

In [110]:
warm = ["yellow", "orange"]
hot = ["red"]
brightcolors = warm
brightcolors.append(hot)
print(brightcolors)
hot.append("pink")
print(hot)
print(brightcolors)

['yellow', 'orange', ['red']]
['red', 'pink']
['yellow', 'orange', ['red', 'pink']]

Chamamos a lista "brightcolors" duas vezes, na primeira vez a lista "hot" havia somente um elemento, depois é adicionado mais um elemento e chamamos novamente a "brightcolors", mostrando ela com o novo valor da lista "hot", a gente não alterou a "brightcolors", mas por nela ter como referencia a lista "hot" e ela sim foi alterada, acaba tbm alterando ela dentro da "brightcolors"

Precisamos cuidar com isso quando quremos iterar sobre uma lista, ainda se aquela iteração pode acabar gerando uma mudança na lista, é preciso estar atento de como o python trata, vamos ver esse exemplo abaixo

In [112]:
l1 = [1,2,3,4]
l2 = [1,2,5,6]

def remove_dups(l1,l2):
    for e in l1:
        if e in l2:
            l1.remove(e)
            
remove_dups(l1,l2)
print(l1)
print(l2)

[2, 3, 4]
[1, 2, 5, 6]

Veja que ele não tirou o valor "2", isso acaba acontecendo pq o python tem um contador interno para manter o traqueamento dentro do loop, então ao passar pela primeira vez e tirar o valor do indice 0, ele passou para o indice 1, mas como a lista original foi alterada, o valor do indice 1 era o "3" e não mais o "2".

primeira iteração -> indice 0<br>
l1 => \[1,2,3,4\]<br>
l1\[0\] => 1<br>
"1" está na l2, portanto o valor é removido da l1, ficando<br>
l1 => \[2,3,4\] -> é a lista que vai ser iterada novamente<br>
<br>
segunda iteração -> indice 1<br>
l1 => \[2,3,4\]<br>
l1\[1\] => 3<br>
"3" não está na l2, portanto mantem, mas veja que ele pulou o número "2", nem checando se ele está ou n na l2<br>
l1 => \[2,3,4\]<br>
<br>

...

Ou seja, mudar uma lista acaba alterar o tamanho da lista, porem python não altera o contador.

# EXERCICIOS

### Ex. 1) Examine o código abaixo. O que <b>always_sunny(('cloudy'), ('cold',))</b> avalia?

<code>def always_sunny(t1,t2):
    sun = ("sunny","sun")
    first = t1[0] + t2[0]
    return (sun[0],first)</code>
    
- [ ] ('sunny', 'cc') 
- [x] ('sunny', 'ccold') 
- [ ] ('sunny', 'cloudycold')

Cuidar que na primeira "tupla" é somente uma string, não possui uma virgula ao final, uma tupla de um elemento sem virgula, não é uma tupla, por isso retorna somente o "c". Já na segunda tupla que realmente é uma tupla, ele retorna a palavra "cold" que é o elemento do indice 0.

In [113]:
def always_sunny(t1,t2):
    sun = ("sunny","sun")
    first = t1[0] + t2[0]
    return (sun[0],first)

always_sunny(("cloudy"),("cold",))

('sunny', 'ccold')

### Ex. 2) What is the value of L after you run the code below?

<code>L = ["life", "answer", 42, 0]
    for thing in L:
        if thing == 0:
            l[thing] = "universe"
        elif thing == 42:
            l[1] = "everthing"</code>
    
- [ ] \["life", "answer", 42, 0\]
- [ ] \["universe", "answer", 42, 0\]
- [x] \["universe", "everthing", 42, 0\]
- [ ] \["life", "everthing", 42, 0\]

Altera primeiro o valor no indice 1, colocando o everthing, depois altera o valor no indice 0, l\[0\], passando a string "unverse" no começo da lista

In [116]:
L = ["life", "answer", 42, 0]
for thing in L:
    if thing == 0:
        L[thing] = "universe"
    elif thing == 42:
        L[1] = "everthing"
L

['universe', 'everthing', 42, 0]

### Ex. 3) What is the value of L3 after you execute all the operations in the code below?

<code>L1 = ['re']
L2 = ['mi']
L3 = ['do']
L4 = L1 + L2
L3.extend(L4)
L3.sort()
del(L3[0])
L3.append(["fa","la"])</code>
    
- [x] \['mi', 're', \['fa', 'la'\]\]
- [ ] \['mi', 're', 'fa', 'la'\]
- [ ] \['re', 'mi', \['fa', 'la'\]\]
- [ ] \['do', 'mi', \['fa', 'la'\]\]

l3 começa com um elemento somente o "do", depois é adicionado os elementos "re e "mi, ficando \["do","re","mi"\]. sendo ordenado alterando a posicao do "re" e "mi", após é deletado o primeiro indice, tirando o "do" e por fim é adicionado uma lista ao final contendo o \["fa","la"\]

In [121]:
L1 = ['re'] 
L2 = ['mi']
L3 = ['do']
L4 = L1 + L2
L3.extend(L4)
L3.sort()
del(L3[0])
L3.append(["fa","la"])
L3

['do', 'mi', 're']

['mi', 're', ['fa', 'la']]

### Ex. 4) What is the value of brunch after you execute all the operations in the code below?

<code>l1 = ["bacon","eggs"]
l2 = ["toast", "jam"]
brunch = l1
l1.append("juice")
brunch.extend(l2)</code>
    
- [ ] \['bacon', 'eggs', 'toast', 'jam'\]
- [x] \['bacon', 'eggs', 'juice', 'toast', 'jam'\]
- [ ] \['bacon', 'eggs', 'juice', \['toast', 'jam'\]\]
- [ ] \['bacon', 'eggs', \['toast', 'jam'\]\]

Lembrando que o extend() adiciona os elementos que passamos como parametro, já o append() sim que adiciona todo o elemento que foi passado, por isso é adicionado primeiro o "juice" e depois adicionamos o "toast" e "jam"

In [124]:
l1 = ["bacon","eggs"]
l2 = ["toast", "jam"]
brunch = l1
l1.append("juice")
brunch.extend(l2)
brunch

['bacon', 'eggs', 'juice', 'toast', 'jam']